.main-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: red;
}

body {
    background-image: url(../assets/road-mountains-tarmac-sunrise-morning-macos-big-sur-stock-5k-7680x4320-3996.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   